@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-5">Welcome to the Book Lounge</h1>
</div>
<partial name="_Carousel" />
<div class="d-flex flex-row">
    <div class="p-2 flex-fill">
        <h4 class="display-6 text-info">Register</h4>
    </div>
    <div class="p-2 flex-fill">
        <h4 class="display-6 text-warning">Search for a book</h4>
    </div>
    <div class="p-2 flex-fill">
        <h4 class="display-6 text-success">Check it out</h4>
    </div>
    <div class="p-2 flex-fill">
        <h4 class="display-6 text-danger">Enjoy reading it</h4>
    </div>
    <div class="p-2 flex-fill">
        <h4 class="display-6 text-secondary">Check it in </h4>
    </div>
    <div class="p-2 flex-fill">
        <h4 class="display-6 text-info">Repeat!</h4>
    </div>
</div>
<br />