@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-5">Welcome to Quizzing</h1>
</div>
<partial name="_Carousel" />
<div class="d-flex flex-row p-2">
    <div class="p-2 flex-fill">
        <h4 class="display-6 text-info">Register</h4>
    </div>
    <div class="p-2 flex-fill">
        <h4 class="display-6 text-warning">Search for a quiz</h4>
    </div>
    <div class="p-2 flex-fill">
        <h4 class="display-6 text-success">Think hard</h4>
    </div>
    <div class="p-2 flex-fill">
        <h4 class="display-6 text-danger">Enjoy completing it</h4>
    </div>
    <div class="p-2 flex-fill">
        <h4 class="display-6 text-info">Repeat!</h4>
    </div>
</div>
<div class="d-flex flex-row p-2">
    <partial name="_HomeCards" />
</div>