@model CreateViewModel

@{
    ViewData["Title"] = "Create";
}

<div>
    <a asp-action="Index"><< Back to List</a>
</div>

<h1 class="py-3">Create Quiz</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" role="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Quiz.Title" class="control-label"></label>
                <input asp-for="Quiz.Title" class="form-control" />
                <span asp-validation-for="Quiz.Title" class="text-danger"></span>
            </div>
            <div class="card">

            <div class="form-group">
                <label asp-for="Quiz.Questions[0].QuestionText" class="control-label"></label>
                @Html.TextBox("Quiz.Questions[0].QuestionText")
                @*<input type="text" name="Quiz.Questions[0].QuestionText" lass="form-control" />*@
                <span asp-validation-for="Quiz.Questions[0].QuestionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quiz.Questions[0].QuestionText" class="control-label"></label>
                @Html.TextBox("Quiz.Questions[1].QuestionText")
                @*<input type="text" name="Quiz.Questions[0].QuestionText" lass="form-control" />*@
                <span asp-validation-for="Quiz.Questions[0].QuestionText" class="text-danger"></span>
            </div>

                <div class="form-group">
                    <label asp-for="Quiz.Questions[1].Answers[0].AnswerText" class="control-label"></label>
                    @Html.TextBox("Quiz.Questions[1].Answers[0].AnswerText")
                    @*<span asp-validation-for="Question.Answers[0].AnswerText" class="text-danger"></span>*@
                <!--</div>-->


                @*<div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Question.Answers[0].IsCorrect" /> @Html.DisplayNameFor(model => model.IsCorrect)
                    </label>
                </div>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

