<div class="container">
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <h4>Lorem Ipsum</h4>
                <hr />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed at mauris vitae nulla dictum accumsan. Fusce aliquam sem in efficitur consectetur.
                    Cras augue ante, volutpat lobortis ornare quis, pulvinar ac nisi.
                    Nam ultrices, tortor vel faucibus egestas, metus justo finibus turpis,
                    a maximus sem mauris et lectus. Nulla facilisi.
                    Nam sodales justo quis ex tincidunt porttitor.
                </p>
            </div>
        </div>
    
        <div class="col">
            <div class="card card-body">
                <h4>Lorem Ipsum</h4>
                <hr />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed at mauris vitae nulla dictum accumsan. Fusce aliquam sem in efficitur consectetur.
                    Cras augue ante, volutpat lobortis ornare quis, pulvinar ac nisi.
                    Nam ultrices, tortor vel faucibus egestas, metus justo finibus turpis,
                    a maximus sem mauris et lectus. Nulla facilisi.
                    Nam sodales justo quis ex tincidunt porttitor.
                </p>
            </div>
        </div>

        <div class="col">
            <div class="card card-body">
                <h4>Lorem Ipsum</h4>
                <hr />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed at mauris vitae nulla dictum accumsan. Fusce aliquam sem in efficitur consectetur.
                    Cras augue ante, volutpat lobortis ornare quis, pulvinar ac nisi.
                    Nam ultrices, tortor vel faucibus egestas, metus justo finibus turpis,
                    a maximus sem mauris et lectus. Nulla facilisi.
                    Nam sodales justo quis ex tincidunt porttitor.
                </p>
            </div>
        </div>
    </div>
</div>