<form asp-controller="Quiz" asp-action="Index">
    @if (ViewData["Search"] != null)
    {
        <div class="d-flex">
            <input class="form-control ml-auto" type="search" id="SearchBox" name="SearchString" value=@ViewData["Search"]>
            <input type="submit" value="Search" class="btn btn-outline-primary" size="50"/>
        </div>
    }
    else
    {
        <div class="d-flex">

            <input class="form-control ml-auto" type="search" id="SearchBox" name="SearchString" placeholder="Title/Id">
            <input type="submit" value="Search" class="btn btn-outline-primary" size="50"/>
        </div>

    }

</form>